 <!DOCTYPE html>
<html>

<head>
    <title>About</title>

    <!-- links -->
    <link rel="stylesheet" href="/public/css/about_styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <nav>
        <div class="nav_items">
            <a href="/"> Home </a>
        </div>
        <div class="nav_items">
            <a href="/about"> About </a>
        </div>
    </nav>
    <div class="title">
        <h1>About</h1>
    </div>
    <div class="summary">
        <p>
            The objective of this project is to provide a user-friendly web application that enables users to assign
            faculties to time-table using the data provided in the MongoDB database. The application offers a range of
            features such as conflict checking, which includes identifying cases where the same teacher has been
            assigned to two or more courses or two teachers have been assigned to the same time slot.
            <br>
            <br>
            The application interface has been designed to facilitate ease of use, with dynamic dropdown menus that
            auto-populate based on the data entered by the user, thereby reducing the effort required to enter data.
            Once the faculties have been assigned to the time-table, the application generates a display of the output
            in the form of a time-table, based on the department and semester selected.
            <br>
            <br>
            Overall, our Interactive Time-table Web Application offers a comprehensive solution for efficient management
            of academic schedules and resources. We believe that this project will be of significant value to
            educational institutions seeking to streamline their time-table management processes.
        </p>
    </div>
</body>

</html>