body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/public/images/bg_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.main-nav-items {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    font-size: 20px;
}

.main-nav-items .link-page {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 18px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.main-nav-items .link-page:hover {
    text-decoration: none;
    color: #dadada;
    border-bottom: none;
    transition: color 0.5s;
}

h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #F5F5F5;
}

.title h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    margin-top: 0px;
}

.container-class {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;
}

.form-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control-class {
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    margin: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select option {
    font-weight: bold;
    font-size: 16px;
}

.submit-button {
    border: none;
    font-size: 20px;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 350px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #1C1C1C;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
    background-color: #dadada;
    transition: background-color 0.5s;
}

.timetable {
    width: fit-content;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    overflow: hidden;
}

table {
    /* display: none; */
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    padding: 15px;
}

td {
    text-align: left;
    padding: 10px;
    padding-left: 15px;
    background-color: #fff;
    cursor: pointer;
    width: 500px;
    height: max-content;
    font-size: small;
}

table td {
    border: 1px solid rgba(202, 202, 202, 0.637);
}

td:hover {
    background-color: #dadada;
}

.lunch {
    text-align: center;
    cursor: default;
    border: 0px solid rgba(202, 202, 202, 0.637);
    font-weight: bold;
}

.lunch:hover {
    background-color: #fff;
}

a {
    text-decoration: none;
}