body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/public/images/bg_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 18px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    text-decoration: none;
    color: #dadada;
    border-bottom: none;
    transition: color 0.5s;
}

h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #F5F5F5;
}

.title h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    margin-top: 0px;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    margin: 10px;
}

input {
    font-weight: bold;
    font-size: 16px;
}

button {
    border: none;
    font-size: 20px;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 350px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #1C1C1C;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #dadada;
    transition: background-color 0.5s;
}